[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
ics = "*"
pyyaml = "*"
glom = "*"
gunicorn = "*"
flask-common = "*"

[dev-packages]

[requires]
python_version = "3.6"
